#root {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
}

#root>div {
  width: 100%;
  /* appbar size */
  height: calc(100% - 64px);
  box-sizing: border-box;
  padding: 2rem;
  overflow-y: scroll;
}